.InfoWrapper {
  background-color: #000000;
  border-radius: 4px;
  margin: 0 0 2em;
  padding: 1em 2em;
  position: relative;
  opacity: 0.8;
  width: 100%; }

@media (min-width: 570px) {
  .InfoWrapper {
    max-width: 370px;
    width: initial; } }

.InfoWrapper-descWrapper {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.5s linear;
  overflow: hidden; }

.InfoWrapper-descWrapper.is-invisible {
  opacity: 0;
  max-height: 0; }

.InfoWrapper-desc {
  margin-top: 1em; }

.InfoWrapper-title {
  position: relative; }

.InfoWrapper-icon {
  right: 1em;
  bottom: 0.5em;
  padding: 4px 6px;
  position: absolute; }

.InfoWrapper-icon--arrow {
  transition: transform 0.3s ease-in; }

.InfoWrapper-icon--arrow.is-toggled {
  bottom: 0.7em;
  transform: rotate(180deg); }

.InfoWrapper-icon--underline {
  transition: bottom 0.3s ease-in; }

.InfoWrapper-icon--underline.is-toggled {
  bottom: 0.35em; }
