$animationDuration: 1.2s;
$delay: 0.4s;
$loaderBlockCount: 5;

@keyframes pulse {
  0%, 40%, 100%   {
    transform: scaleY(0.5);
    opacity: 0.5;
  }
  20% {
    transform: scaleY(1.0);
    opacity: 1;
  }
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 30px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader__block {
  flex-basis: 14%;
  background-color: $turc;
  animation: pulse $animationDuration infinite ease-in-out;

  @for $i from 1 through $loaderBlockCount {
    &:nth-of-type(#{$i}) {
        animation-delay: - $animationDuration + $delay / ($loaderBlockCount - 1) * ($i - 1);
    }
  }
}
