@import 'node_modules/reset-css/_reset.scss';
@import './vars.scss';

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../../fonts/roboto-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/roboto-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../../fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/roboto-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'Roboto', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 135%;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2 {
  font-weight: 400;
  line-height: 140%;
}


a {
  &, &:visited, &:hover, &:active {
    color: $white;
    text-decoration: none;
  }
}
