///////////////////////////////////////////////
//// Hide elements with accessability in mind
///////////////////////////////////////////////
@mixin invisible {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

///////////////////////////////////////////////
//// Breakpoints
///////////////////////////////////////////////

$breakpoints: (
  small: 570px
);

@mixin breakpoint($breakpoint, $map: $breakpoints) {
  @media (min-width: #{map-get($map, $breakpoint)}) {
    @content;
  }
}
