///////////////////////////////////////////////
//// Colors
///////////////////////////////////////////////
$grey: #333333;
$black: #000000;
$white: #ffffff;
$turc: #005b5f;
$turc-darker: darken($turc, 3%);

///////////////////////////////////////////////
//// Animation and transitions
///////////////////////////////////////////////
$transition-duration: 0.3s;
