///////////////////////////////////////////////
//// Colors
///////////////////////////////////////////////
$grey: #333333;
$black: #000000;
$white: #ffffff;
$turc: #00E8FF;
$turc-darker: darken($turc, 8%);

///////////////////////////////////////////////
//// Animation and transitions
///////////////////////////////////////////////
$transition-duration: 0.3s;
