@import '../../sass/vars.scss';
@import '../../sass/mixins.scss';

.Button {
  background-color: $turc;
  border-radius: 4px;
  color: inherit;
  display: inline-block;
  padding: 1em 2em;
  margin-bottom: 1em;
  margin-left: auto;
  letter-spacing: 0.7px;
  opacity: 0.9;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 100%;
  @include breakpoint(small) {
    order: 2;
    width: initial;
    &:hover {
      background-color: $turc-darker;
    }
  }
}
