.Button {
  background-color: #00E8FF;
  border-radius: 4px;
  color: inherit;
  display: inline-block;
  padding: 1em 2em;
  margin-bottom: 1em;
  margin-left: auto;
  letter-spacing: 0.7px;
  opacity: 0.9;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s linear;
  width: 100%; }

@media (min-width: 570px) {
  .Button {
    order: 2;
    width: initial; }
  .Button:hover {
    background-color: #00c3d6; } }
