@import '../../sass/mixins.scss';
.AstronomyPicSection {
  background: no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 2em;
  @include breakpoint(small) {
    display: flex;
    align-items: flex-start;
  }
}
