.AstronomyPicSection {
  background: no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 2em;
  transition: opacity 0.5s ease-in;
  opacity: 0; }
  @media (min-width: 570px) {
    .AstronomyPicSection {
      display: flex;
      align-items: flex-start; } }
  .AstronomyPicSection.is-visible {
    opacity: 1; }
